{% load wagtailcore_tags capsite_extras %}

<header>
    {% get_site_root as site_root %}
    <nav id="gsapHeader" class="navbar opacity-100 bg-slate-800">
        <div class="navbar-start">
            <a class="btn btn-ghost text-white" href="{% pageurl site_root %}">Home</a>
        </div>
        {% for menuitem in site_root.get_children.live.in_menu %}
        <div class="navbar-start"  aria-label="{{ menuitem.title }}">
        <a  class="btn btn-ghost" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
        </div>
        {% endfor %}
    </nav>
</header>