{% load static %}
{% load wagtailuserbar %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if not DEBUG %}
    <link rel="stylesheet" href="{% static 'capsite/styles.css' %}">
    {% endif %}

    <title>CAP together</title>
</head>
<body class="relative">
    {% if DEBUG %}
    <div class="btn btn-warning absolute left-0 top-24">DEBUG on</div>
    {% endif %}
    {% wagtailuserbar %}
    {% include "capsite/header.html" %}
    {% block content %}{% endblock %}

    {% include "capsite/footer.html" %}


    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
   
</body> 
{% if DEBUG %} 
<script type="module">
    import RefreshRuntime from 'http://localhost:5173/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/src/main.jsx"></script>
<script type="module" src="http://localhost:5173/src/animations.js"></script>
{% else %}

<script type="module" src="{% static 'capsite/animations.js' %}"></script>
<script type="module" src="{% static 'capsite/main.js' %}"></script>

{% endif %}

</body>
</html>

